/* -------------------Global Stylesheet -------------------- */
/* This stylesheet uses variables in :root */

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


/* Colors */ 
:root{
 
    --first-color: #FE914E;
    --second-color: #313530;
    --third-color:  #6bccac;
    --fourth-color: #004AAD;
    --hover-color:#ff6200;
    --bg-light :#fff;

}

/*===== Margins =====*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }



   /*===== GOOGLE FONTS =====*/
   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
   /*===== VARIABLES CSS =====*/
   :root{
     --header-height: 3rem;
     --font-semi: 400;
   }
   
  
   
   /*===== Typography =====*/
   :root{
     --body-font: 'Poppins', sans-serif;
     --big-font-size: 2rem;
     --h2-font-size: 1.25rem;
     --normal-font-size: 0.938rem;
   }
   @media screen and (min-width: 768px){
     :root{
       --big-font-size: 3.5rem;
       --h2-font-size: 2rem;
       --normal-font-size: 1rem;
     }
}
  
   
   /*===== BASE =====*/
   *,::before,::after{
     box-sizing: border-box;
   }
   html{
     scroll-behavior: smooth;
   }
   body{
     margin: var(--header-height) 0 0 0;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     color: var(--second-color);
   }
   h1,h2,p{
     margin: 0;
   }
   ul{
     margin: 0;
     padding: 0;
     list-style: none;
   }
   a{
     text-decoration: none;
   }
   img{
     max-width: 100%;
     height: auto;
     display: block;
   }
   
  
   .section{
     padding-top: 3rem;
     padding-bottom: 2rem;
   }
   
   /*===== LAYOUT =====*/
   .bd-grid{
     max-width: 1024px;
     display: grid;
     grid-template-columns: 100%;
     grid-column-gap: 2rem;
     width: calc(100% - 2rem);
     margin-left: var(--mb-2);
     margin-right: var(--mb-2);
   }
   .l-header{
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: var(--z-fixed);
     background-color: #fff;
     box-shadow: 0 1px 4px rgba(146,161,176,.15);
   }
   
   /*===== NAV =====*/
   .nav{
     height: var(--header-height);
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: var(--font-semi);
   }
   @media screen and (max-width: 768px){
     .nav__menu{
       position: fixed;
       top: var(--header-height);
       right: -100%;
       width: 60%;
       height: 100%;
       padding: 2rem;
       background-color: var(--second-color);
       transition: .5s;
     }
     .btn-hire {
        background-color: var(--fourth-color);
        color: var(--bg-light);
        padding: .5rem 1.5rem;
        font-weight: var(--font-semi);
        transition: .3s;
        border: none;
    }
    .btn-hire:hover{
      border: 2px solid var(--fourth-color);
    }
  
   
   }
   .nav__item{
     margin-bottom: var(--mb-4);
   }
   .nav__link{
     position: relative;
     color: #fff;
   }
   .nav__link:hover{
     position: relative;
   }
   .nav__link:hover::after{
     position: absolute;
     content: "";
     width: 100%;
     height: 0.18rem;
     left: 0;
     top: 2rem;
     background-color: var(--first-color);
   }
   .nav__logo{
    
     width: 50px;
     height: 50px;
   }
   .nav__toggle{
     color: var(--second-color);
     font-size: 1.5rem;
     cursor: pointer;
   }
   


   /*Active menu*/
   .active::after{
     position: absolute;
     content: "";
     width: 100%;
     height: 0.18rem;
     left: 0;
     top: 2rem;
     background-color: var(--first-color);
   }
   



   /*=== Show menu ===*/
   .show{
     right: 0;
   }
   
   /* ===== FOOTER =====*/
   .footer{
     background-color: var(--second-color);
     color: #fff;
     text-align: center;
     font-weight: var(--font-semi);
     padding: 2rem 0;
   }
   .footer__title{
     font-size: 2rem;
     margin-bottom: var(--mb-4);
   }
   .footer__social{
     margin-bottom: var(--mb-4);
   }
   .footer__icon{
     font-size: 1.5rem;
     color: #fff;
     margin: 0 var(--mb-2)
   }
   
   /* ===== MEDIA QUERIES=====*/
   @media screen and (min-width: 768px){
     body{
       margin: 0;
     }
     .section{
       padding-top: 4rem;
       padding-bottom: 3rem;
     }
     .section-title{
       margin-bottom: var(--mb-6);
     }
     .section-title::after{
       width: 80px;
       top: 3rem;
     }
   
     .nav{
       height: calc(var(--header-height) + 1rem);
     }
     .nav__list{
       display: flex;
       padding-top: 0;
     }
     .nav__item{
       margin-left: var(--mb-6);
       margin-bottom: 0;
     }
     .nav__toggle{
       display: none;
     }
     .nav__link{
       color: var(--second-color);
     }
     .container-fluid{
      padding: 100px;
      margin-top: 1em;
    }
   
}
   
   @media screen and (min-width: 1024px){
     .bd-grid{
       margin-left: auto;
       margin-right: auto;
     }
     .home__img{
       right: 10%;
       width: 400px;
     }
     .container-fluid{
      padding: 50px;
      margin-top: 1em;
    }
    .btn-hire {
      background-color: var(--fourth-color);
      color: var(--bg-light);
      padding: .5rem 1.5rem;
      margin-left: var(--mb-2);
      font-weight: var(--font-semi);
      transition: .3s;
      border: none;
      
  }
  .btn-hire:hover{
    border: 2px solid var(--fourth-color);
  }     
   }
   

.title-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 4em;


}
   
/* =========Sections CSS=========== */
/* Put your CSS here  */

/*============1. home section ===============*/
#home{
  
}

.btn__learnmore{
  background-color: var(--fourth-color);
  margin-bottom: 1em;
}
.big-heading{
  color: var(--fourth-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

/*============2. About section ===============*/
.about {
  height: 200vh;
}
.width__gerald {
  height: 65vh;
  width: 65vh;
}
.width__eric {
  height: 65vh;
  width: 65vh;
}
.width__demel {
  height: 62vh;
  width: 62vh;
}
.description {
  position: relative;
  bottom: 120px;
}
.container-fluid > .row > .col > h1 {
  font-weight: bolder !important;
}
.container-fluid > .row > h1 {
  font-weight: bolder !important;
}
@media screen and (max-width: 758px){
  .container > .row > .col-lg-4 >.pos {
    position: relative;
    left: 60px;
  }
  .about > .container-fluid > .row > .col > .w-75 {
    width: 1000px;
    position: relative;
    left: 170px;
    bottom: 200px;
    height: 550px;
  }
  .container-fluid > .row > .text-justify {
    position: relative;
    top: 200px;
    right: 140px;
  }
}
/*============3. Services section ===============*/


/*============4. Testimonies section ===============*/


/*============5. Contact us section ===============*/